<h1>Novo Galpão</h1>

<% if @warehouse.errors.any? %>
  <p>Verifique os erros abaixo:</p>
  <ul>
    <% @warehouse.errors.full_messages.each do |error_msg| %>
      <li><%= error_msg %></li>
    <% end %>
  </ul>
<% end %>

<%= render 'form' %>